# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Model checkpoints
*.pt
*.pth
*.ckpt

# Dataset files
data/
datasets/
*.zip

# Secrets
.env
.env.*

# OS files
.DS_Store
Thumbs.db